/.vs
/BearSSL/**/*.c
/BearSSL/**/*.t0
/BearSSL/**/*.h
/BearSSL/PS3_Release
/PS3_Release
*.suo
*.sdf
*.user
*.VC.db
*.opendb
/BearSSL-Test/PS3_Release/BearSSL-Test.tlog
/BearSSL-Test/PS3_Release
/BearSSL/PS3_Debug
/BearSSL-Test/PS3_Debug
/PS3_Debug
